<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDst6WXQI6krpz7wUOLKcxn-mCAyCXEVn8</string>
	<key>GCM_SENDER_ID</key>
	<string>764221896013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.joinUs</string>
	<key>PROJECT_ID</key>
	<string>join-us-9bf96</string>
	<key>STORAGE_BUCKET</key>
	<string>join-us-9bf96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764221896013:ios:7cec0bcdc23bd2894bb304</string>
</dict>
</plist>